.env
secrets
__pycache__

##ibc, docker
ibc.env
log
jts.ini
config.ini
config
docker-compose-dev.yaml
docker-compose-prod.yaml
Dockerfile
/stable

#ibkr
IBKRClient/samples
IBKRClient/src


foo.py
command.txt
script_local.py
script_local_2.py
todo
analysis.ipynb
ca-certificate.crt
data
Scraper
ibapi
.DS_Store